/**
 * Created by pjy on 17-5-20.
 */

.site-table tbody tr td {text-align: center;}
.site-table tbody tr td .layui-btn+.layui-btn{margin-left: 0px;}
.admin-table-page {position: fixed;z-index: 19940201;bottom: 0;width: 100%;background-color: #eee;border-bottom: 1px solid #ddd;left: 0px;}
.admin-table-page .page{padding-left:20px;}
.admin-table-page .page .layui-laypage {margin: 6px 0 0 0;}
.table-hover tbody tr:hover{ background-color: #EEEEEE; }

.layui-input{
    height: 30px;
}
.my-input .layui-input{
    height: 38px;
}
.my-input .layui-form-label{
    width: 150px;
}
.courseList{
    margin-top: 10px;
}
.layui-form-select{
    width: 80%; /*     调整select的宽度*/
}

#java_pillar{
    height: 630px;
    width:40%;
    float: left;
    padding-left:100px;
}
#java_circle{
    height: 630px;
    width: 40%;
    padding-left:100px;
    float: left;
}

